footer{
  #bas-de-page {
    background-color: var(--color-bg-tertiary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    a {
      color: var(--color-black);
      transition: .3s all;

      &:hover {
        color: var(--color-white);
        text-decoration: underline;
      }
    }

    #media-sociaux{
      padding-left: 0;
    }

  }


  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    transition: .5s all;
padding: 0 2px;
  }

  li:hover {
    background-color: var(--color-white);
    border-radius: 100%;
  }

  .material-icons{
    cursor: pointer;
    font-size: 30px;
    transition: .3s all;
  }

  .material-icons:hover{
    transform: scale(.8);
  }

  #media-sociaux img{
    width: 20px;
    height: 20px;
  }


}

@media screen and (min-width: $vw-medium){
  footer{

    li {
      padding: 10px;
      margin: 0 var(--margin-thin);
      transition: .5s all;

    }

    .material-icons{
      cursor: pointer;
      font-size: var(--fz-h1);
      transition: .3s all;
    }

    #media-sociaux img{
      width: 35px;
      height: 35px;
    }
    
    
    
    
    
    
  }
  
}
