:root {

  //base
  --color-white: #fff;
  --color-black: #000;

  //project colors

  --color-bg-primary: lightslategray;
  --color-bg-secondary: gold;

  --color-text-primary: white;
  --color-text-secondary: gold;

  --color-link-normal: gold;
  --color-link-focus: white;
  --color-link-active: white;
  --color-link-hover: white;
  --color-link-visited: gold;


}