:root {

  //base
  --color-white: #fff;
  --color-black: #000;

  //project colors

  --color-bg-primary: #0C4557;
  --color-bg-secondary: #041D24;
  --color-bg-tertiary: #1C6294;

  --color-text-primary: white;


  --color-link-normal: white;
  --color-link-focus: white;
  --color-link-active: white;
  --color-link-hover: white;
  --color-link-visited: white;


}