:root {

  // font-family: 'Russo One', sans-serif;
  // font-family: 'Salsa', cursive;

  //font-family
  --ff-principal: 'Salsa', cursive;
  --ff-secondary: 'Russo One', sans-serif;

  //font-weight
  --fw-small: 300;
  --fw-medium: 400;
  --fw-large: 600;

  //font-size-headings
  --fz-h1: 3rem;
  --fz-h2: 0.875rem;

  //font-size
  --fz-primary: 0.625rem;
  --fz-secondary: 2rem;

  //line-height
  --lh-small: 1.4;
  --lh-medium: 1.6;


  //letter-spacing
  --ls-primary:.1rem;

}