:root {

  //font-family
  --ff-principal: 'Oswald', sans-serif;
  --ff-secondary: 'Expletus Sans', cursive;

  //font-weight
  --fw-small: 300;
  --fw-medium: 400;
  --fw-large: 600;

  //font-size-headings
  --fz-h1: 3rem;
  --fz-h2: 2rem;
  --fz-h3:1.75rem;

  //font-size
  --fz-primary: 1.125rem;

  //line-height
  --lh-small: 1.4;
  --lh-medium: 1.6;


  //letter-spacing
  --ls-primary:.1em;

}