.intro {
    h1 {
        text-align: center;

        .material-icons {
            font-size: .9em;
            line-height: inherit;
            padding: 0 20px;
            position: relative;
            top: 5px;
            color: goldenrod;
        }
    }

    strong {
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.question {
    padding: 40px 0 0;
    h2 {
        margin-top: 0;
    }
    strong {
        font-weight: 400;
        color: goldenrod
    }
    .alerte {
        color: maroon;
        font-size: .85rem;
        font-style: italic;
        text-align: center;
        font-weight: 700;
    }
    &:nth-child(1):before {
        content: "";
        margin: 40px auto;
        width: 40%;
        height: 5px;
        display: block;
        background: goldenrod;
    }
    &:after {
        content: "";
        width: 40%;
        margin: 40px auto 0;
        height: 5px;
        display: block;
        background: goldenrod;
    }
    h2 {
        text-align: center;
        .note {
            font-size: .7em;
            color: goldenrod
        }
    }
    .option {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
}

.btn-quiz {

    border: 2px goldenrod solid;
    color: goldenrod;
    text-decoration: none;
    padding: 5px 40px;

    &:hover {
        background: goldenrod;
        color: lightslategray;
        text-decoration: none;
    }
}
.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    .name {
        font-size: .75rem;
        text-align: center;
    }
    .square {
        width: 40px;
        height: 40px;
        border: 1px white solid;
    }
    &.item1 .square{
        background-color: var(--color-text-primary);
    }
    &.item2 .square{
        background-color: var(--color-text-secondary);
    }
    &.item3 .square{
        background-color: var(--color-bg-primary);
    }
    &.item4 .square{
        
        background-color: var(--color-bg-secondary);
    }
}
.not-full {
    width: auto;
}
.variable {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > p {
        flex-basis: 100%;
        text-align: center;
    }

    .item img {
        // border: 3px white solid;
    }

   
}

.fin {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        font-size: 8rem;
    }
}
