//FICHIER DE CONFIGURATION POUR LES ÉLÉMENTS TITRE DE LA PAGE


h1, h2, h3, h4, h5, h6{
  font-family: var(--ff-secondary);
  line-height: var(--lh-small);
  // font-weight: var(--fw-large);
}

h1{
  font-size: var(--fz-h1);
  font-weight: var(--fw-medium);
}

h2{
  font-size: var(--fz-h2);
  font-weight: var(--fw-medium);
}

h3{
  text-transform: uppercase;
  font-size: var(--fz-h3);
  font-weight: var(--fw-medium);
}
